* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
#gamescreen {
	border: 1px solid black;
}
#img-ball {
	display: none;
}
#img-brick {
	display: none;
}
